# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scripts/.keys.json


packaging/aur/discerns/src/
packaging/aur/discerns/pkg/
packaging/aur/discerns/*.pkg.tar.zst
packaging/aur/discerns/*.tar.zst